.container {

    display: flex;
    /* Valores possíveis principais (row|row-reverse|column|column-reverse)*/
    flex-direction: column-reverse;
    justify-content: space-between;
    /* Valores possíveis principais (center|stretch|flex-start|flex-end|baseline)*/
    align-content: stretch;
    /*justify-content:space-between;*/
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row | row-reverse | column | column-reverse;
}